Package: curl-dbgsym
Source: curl
Version: 7.62.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alessandro Ghedini <ghedo@debian.org>
Installed-Size: 140
Depends: curl (= 7.62.0-1)
Section: debug
Priority: optional
Description: debug symbols for curl
Build-Ids: f2eb8e67a3577338c83c631b44780d0f13ce8253
